<div style="padding-left:10px;padding-bottom:10px;">
	<table>
		<tr>
			<td>
				<b><%= comment.nil? or comment.user.nil? ? "Someone" : comment.user.email %></b> posted the comment:
				<%= comment.body %>
			</td>
			<td>
				<% if comment.user_id == current_user.id %> 
					<%= link_to 'delete', [comment.conversation, comment], :confirm => 'Are you sure?', :method => :delete %>
				<% end %>
			</td>
		</tr>
	</table>
	
</div>