<div style="padding-left:15px;padding-bottom:10px;" id="comment<%= comment.id %>">

	<table>
		<tr>
			<td style="background-color: #FFFEF5">
				<%= comment.body %>	
			</td>
			<td>
				<% if admin_signed_in? || (user_signed_in? && comment.user_id == current_user.id) %>
					<%= link_to image_tag( 'delete.png', :size => "12x12"), [comment.conversation, comment], :method => :delete, :remote => true %>
				<% end %>							
			</td>
		</tr>
		<tr>
			<td style="text-align:right;">
				<% if !current_user.nil? && (admin_signed_in? || user_signed_in?) %>
					<span style="font-size:75%"><b><%= comment.nil? or comment.user.nil? ? "Admin" : comment.user.name.nil? ? comment.user.email : comment.user.name %></b></span>
                <% end %>
			</td>
		</tr>
	</table>

</div>