<%= form_for([@conversation, @conversation.comments.build], :remote => true) do |f| %>
	<div>
		<%= f.text_area :body, :class => "textField" %>
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>