/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require conversations
 *= require jquery.ui.all

 */
 body {
 	font-family: Georgia, serif;
 	font-size: 14px;
 	margin: 0;
 	background-color: #F4F1EE;
 }

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;cursor: hand; cursor: pointer;}
a:active {text-decoration:underline;}

#mainHeader {
	text-align: center;
	font-size: 30px;
	background: #1F0F00;
	color: #D2CFCC;
	padding: 16px;
}

#mainHeader:hover {
	color: white;
	cursor: hand; cursor: pointer;
}

#content {
	margin: auto;
	width: 960px;
	min-height: 450px;
	background-color: #F4F1EE;
}

#mainBody {
	padding: 10px;
	color: #465158;
	width: 735px;
	float: left;
}

#error_explanation {
	background-color: #FBDFDE;
}

.requiredField {
	background-color: #FAFFBD;
}

.field {
	padding-bottom: 5px;
}

.notice {
    border: solid 4px #900;
    background-color: #FF6565;  
    color: black;
    z-index: 999;
    position: fixed;
    font-weight: bold;
    width: 96%;
    margin: 20px; 
}





